<% title "Top" %>

<a href="http://bootsnipp.com/mouse0270/snippets/4l0k2" class="btn btn-danger hide" id="back-to-bootsnipp">Back to Bootsnipp</a>

<div class="container" id="tops">

  <div class="row">
      <div class="col-xs-15 col-sm-offset-2 col-sm-20">
          <div class="panel panel-default">
              <div class="panel-heading c-list" >
                  <span class="title" id="likedP">The most liked posts</span>
                  <ul class="pull-right c-controls">
                  </ul>
              </div>

              <div class="row" style="display: none;">
                  <div class="col-xs-12">
                      <div class="input-group c-search">
                          <input type="text" class="form-control" id="contact-list-search">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                          </span>
                      </div>
                  </div>
              </div>

              <ul class="list-group" id="contact-list">
                  <li class="list-group-item">
                      <div class="col-xs-12 col-sm-3">
                          <img src="https://blog.movistar.com.pa/wp-content/uploads/2018/05/mov-m-azul.png" alt="Movistar" class="img-responsive" />
                      </div>
                      <div class="col-xs-12 col-sm-9">
                        <a href="/posts/1" class="name">Movistar</a><br/>
                        <span class="case">Mal servicio, llame hace una semana y aun no tengo solucion a mi caso.</span><br/>
                        <span class="like"> </span><br/>
                        <span class="like"> </span><br/>
                        <span class="like">98000 likes</span><br/>
                          </div>
                      <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                      <div class="col-xs-12 col-sm-3">
                          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/MINI_logo.svg/1280px-MINI_logo.svg.png" alt="Mini" class="img-responsive" />
                      </div>
                      <div class="col-xs-12 col-sm-9">
                        <a href="/posts/1" class="name">Mini Cooper</a><br/>
                        <span class="case">Lo compre hace mas de un mes y el auto anda muy mal y lento, ademas feo.</span><br/>
                        <span class="like"> </span><br/>
                        <span class="like"> </span><br/>
                        <span class="like">10021 likes</span><br/>
                          </div>
                      <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                      <div class="col-xs-12 col-sm-3">
                          <img src="https://upload.wikimedia.org/wikipedia/commons/1/1d/Logo_uandes.png" alt="Uandes" class="img-responsive " />
                      </div>
                      <div class="col-xs-12 col-sm-9">
                          <a href="/posts/1" class="name">Uandes</a><br/>
                          <span class="case">No me responden las cartas al consejo</span><br/>
                          <span class="like"> </span><br/>
                          <span class="like"> </span><br/>
                          <span class="like">5644 likes</span><br/>
                            </div>
                      <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                      <div class="col-xs-12 col-sm-3">
                          <img src="https://www.revistaenergia.com/wp-content/uploads/2016/08/enel-logo.png" alt="Todd Shelton" class="img-responsive " />
                      </div>
                      <div class="col-xs-12 col-sm-9">
                        <a href="/posts/1" class="name">Enel</a><br/>
                        <span class="case">No tengo luz hace x dias</span><br/>
                        <span class="like"> </span><br/>
                        <span class="like"> </span><br/>
                        <span class="like">1040 likes</span><br/>
                          </div>
                      <div class="clearfix"></div>
                  </li>

              </ul>
          </div>
      </div>
</div>

  <div id="cant-do-all-the-work-for-you" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" id="mySmallModalLabel">Ooops!!!</h4>
              </div>
              <div class="modal-body">
                  <p>I am being lazy and do not want to program an "Add User" section into this snippet... So it looks like you'll have to do that for yourself.</p><br/>
                  <p><strong>Sorry<br/>
                  ~ Mouse0270</strong></p>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-xs-15 col-sm-offset-2 col-sm-20">
          <div class="panel panel-default">
              <div class="panel-heading c-list">
                  <span class="title"  id="unlikedP">The most unliked posts</span>
                  <ul class="pull-right c-controls">
                  </ul>
              </div>

              <div class="row" style="display: none;">
                  <div class="col-xs-12">
                      <div class="input-group c-search">
                          <input type="text" class="form-control" id="contact-list-search">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                          </span>
                      </div>
                  </div>
              </div>

              <ul class="list-group" id="contact-list">
                  <li class="list-group-item">
                      <div class="col-xs-12 col-sm-3">
                          <img src="https://blog.movistar.com.pa/wp-content/uploads/2018/05/mov-m-azul.png" alt="Movistar" class="img-responsive" />
                      </div>
                      <div class="col-xs-12 col-sm-9">
                        <a href="/posts/1" class="name">Movistar</a><br/>
                        <span class="case">Mal servicio, llame hace una semana y aun no tengo solucion a mi caso.</span><br/>
                        <span class="like"> </span><br/>
                        <span class="like"> </span><br/>
                        <span class="like">98000 likes</span><br/>
                          </div>
                      <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                      <div class="col-xs-12 col-sm-3">
                          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e9/MINI_logo.svg/1280px-MINI_logo.svg.png" alt="Mini" class="img-responsive" />
                      </div>
                      <div class="col-xs-12 col-sm-9">
                        <a href="/posts/1" class="name">Mini Cooper</a><br/>
                        <span class="case">Lo compre hace mas de un mes y el auto anda muy mal y lento, ademas feo.</span><br/>
                        <span class="like"> </span><br/>
                        <span class="like"> </span><br/>
                        <span class="like">10021 likes</span><br/>
                          </div>
                      <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                      <div class="col-xs-12 col-sm-3">
                          <img src="https://upload.wikimedia.org/wikipedia/commons/1/1d/Logo_uandes.png" alt="Uandes" class="img-responsive " />
                      </div>
                      <div class="col-xs-12 col-sm-9">
                          <a href="/posts/1" class="name">Uandes</a><br/>
                          <span class="case">No me responden las cartas al consejo</span><br/>
                          <span class="like"> </span><br/>
                          <span class="like"> </span><br/>
                          <span class="like">5644 likes</span><br/>
                            </div>
                      <div class="clearfix"></div>
                  </li>
                  <li class="list-group-item">
                      <div class="col-xs-12 col-sm-3">
                          <img src="https://www.revistaenergia.com/wp-content/uploads/2016/08/enel-logo.png" alt="Todd Shelton" class="img-responsive " />
                      </div>
                      <div class="col-xs-12 col-sm-9">
                        <a href="/posts/1" class="name">Enel</a><br/>
                        <span class="case">No tengo luz hace x dias</span><br/>
                        <span class="like"> </span><br/>
                        <span class="like"> </span><br/>
                        <span class="like">1040 likes</span><br/>
                          </div>
                      <div class="clearfix"></div>
                  </li>

              </ul>
          </div>
      </div>
</div>

  <div id="cant-do-all-the-work-for-you" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" id="mySmallModalLabel">Ooops!!!</h4>
              </div>
              <div class="modal-body">
                  <p>I am being lazy and do not want to program an "Add User" section into this snippet... So it looks like you'll have to do that for yourself.</p><br/>
                  <p><strong>Sorry<br/>
                  ~ Mouse0270</strong></p>
              </div>
          </div>
      </div>
  </div>

    <!-- JavaScrip Search Plugin -->
    <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>

</div>