<% @users = User.all %>
<div class="container">
  <center>
  <h1>All Users</h1>
    <br>
<% @users.each do |user| %>

  <%= link_to user.email,'/users/show/'+user.id.to_s %>
  <br/>
<% end %>
</center>
</div>
